{{#extend "layout"}}
    {{#replace "main"}}

        <section id="Title">
          <h1>Department of Justice</h1>
        </section>
        <section id="Subheading">
          <h2>Family Violence Intervention Order</h2>
          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p class="section-numbers">1</p>
                    <br>
                    <p>If you needed to place an intervention or you would need to fill
                        in a form that was only recently made available online for
                        download only.</p>
                </div>
                <div class="col-md-3 p-offset-half">
                    <p class="section-numbers">2</p>
                    <br>
                    <p>But then, once you had completed form, you would have to phsyically
                        drop it off to the local Neighbourhood Justice Centre, regardless
                        of where we lived or your own sense of safety.</p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <p class="section-numbers">3</p>
                    <br>
                    <p>That form would then be manually entered into a system within
                        the court or alternatively the police could fax it.</p>
                </div>
            </div>
    {{/replace}}
{{/extend}}
