{{#extend "layout"}}
    {{#replace "main"}}

        <section id="Title">
            <h1>Department of Justice</h1>
        </section>
        <section id="Subheading">
            <h2>Family Violence Intervention Order</h2>
        </section>
        <section class="before-with-numbers">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-number-1">If you needed to place an intervention or you would need to fil in a form that was only recently made available online for download only.</p>
                    </div>
                    <div class="col-md-3 p-offset-half">
                        <p class="add-number-2">But then, once you had completed the form, you would have to phsyically drop it off to the local Neighbourhood Justice Centre, regardless of where yu lived or your own sense of safety.</p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-number-3">That form would then be manually entered into a system within the court or alternatively the police could fax it.</p>
                    </div>
                </div>
        </section>
        <section class="before-with-symbols">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-year">In 2013 we started to work hand in hand with the Neighbourhood Justice Centre to reinterpret the way in which the entire process and relationships between victims, the courts and the police related.</p>
                    </div>
                    <div class="col-md-3 p-offset-half">
                        <p class="add-boxes">By taking the courts through our wide range of processes, we were able to map out the entire system within the courts and provide ways of making a very complicated system unified, user centred and effective.</p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-map-marker">Together with the Neighbourhood Justice Center, we took this single paper form and all of its processes and banished it back to the 20th century.</p>
                    </div>
                </div>
        </section>

    {{/replace}}
{{/extend}}
