{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>Department of Justice</h1>

            </div>
        </section>

    {{/replace}}
{{/extend}}
