{{#extend "layout"}}
    {{#replace "main"}}

        <section id="Title">
            <h1>Department of Justice</h1>
        </section>
        <section id="Subheading">
            <h2>Family Violence Intervention Order</h2>
        </section>
        <section class="before-with-numbers">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-number-1">But then, once you had completed form, you would have to phsyically drop it off to the local Neighbourhood Justice Centre, regardless of where we lived or your own sense of safety.</p>
                    </div>
                    <div class="col-md-3 p-offset-half">
                        <p class="add-number-2">But then, once you had completed form, you would have to phsyically drop it off to the local Neighbourhood Justice Centre, regardless of where we lived or your own sense of safety.</p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <p class="add-number-3">That form would then be manually entered into a system within the court or alternatively the police could fax it.</p>
                    </div>
                </div>
        </section>
        <!-- <section class="no-before-numbers">
            <p class="section-numbers">1</p>
        </section> -->

    {{/replace}}
{{/extend}}
